app.name=Arquivo de configuracao

app.processo.total=8
app.processo.1.identificador=1
app.processo.1.host=localhost
app.processo.1.port=3001
app.processo.2.identificador=2
app.processo.2.host=localhost
app.processo.2.port=3002
app.processo.3.identificador=3
app.processo.3.host=localhost
app.processo.3.port=3003
app.processo.4.identificador=4
app.processo.4.host=localhost
app.processo.4.port=3004
app.processo.5.identificador=5
app.processo.5.host=localhost
app.processo.5.port=3005
app.processo.6.identificador=6
app.processo.6.host=localhost
app.processo.6.port=3006
app.processo.7.identificador=7
app.processo.7.host=localhost
app.processo.7.port=3007
app.processo.8.identificador=8
app.processo.8.host=localhost
app.processo.8.port=3008